# Blog settings
PAGE_SIZE=6
BASE_API_URL=https://jsonplaceholder.typicode.com
NEXT_PUBLIC_BASE_API_URL=https://jsonplaceholder.typicode.com

# Supabase connection string
DATABASE_URL=<your_supabase_database_url>

# Revalidation secret (use a strong random string)
REVALIDATE_SECRET=<your_secret_token_here>